/* src/Header.module.css */
.header {
  background-color: #4B08A1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 80px;
  box-sizing: border-box;
}

.headerImage{
  max-width: 220px;
  max-height: 50px;
  padding-left: 18px;
}